node_modules/
dist/
.env
.env.*
frontend/node_modules/
frontend/dist/
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/app/
backend/storage/framework/
backend/storage/logs/*.log
backend/database/database.sqlite
.DS_Store
pnpm-lock.yaml
package-lock.json
yarn.lock
composer.lock
